@font-face {
    font-family: 'icones';
    src: url(../font/MaterialIcons-Regular.ttf);
}


body {
    background-color: #553D67;
    font-family: 'Open Sans', 'icones', sans-serif;
    color: #FFFFFF;

    
}

@media screen and (min-width: 1440px) {
    .body {
        display: grid;
        grid-template-columns: auto auto;

    }
}


.cabecalho {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#553D67;
    padding: 8px 16px;
    
}

.cabecalho__menu i::before {
    content: "\e235";
    font-size: 24px;
    color: #41B3A3;
}



.cabecalho__logo {
    width: 40px;
}

.cabecalho__perfil {
    display: none;
}

@media screen and (min-width: 1440px) {
    .cabecalho {
        background: #553D67;

        display: flex;
        padding: 16px 30px;
        height: 40px;
        box-sizing: border-box;
       justify-content: flex-end;
    }

    .cabecalho__menu {
        display: none;
    }

    .cabecalho__logo {
        display: none;
    }

   

    .cabecalho__buscar::-webkit-input-placeholder {
        text-align: center;
     }

  

    
    .cabecalho__botao{
    margin-top: 05px;
    }

.cabecalho__botao i::before {
    content: "\e8b6";
    font-size: 20px;
    color:#41B3A3 ;
    margin-right: 5px;
}

}




.menu-lateral {
    display: flex;
    flex-direction: column;
    background-color: #422c52;
    width: 55vw;
    height: 92.4vh;

    position: absolute;
    left: -100vw;
    transition: .25s;
}

.menu-lateral--ativo {
    left: 0;
    transition: .25s;
}

.menu-lateral__logo {
    display: none;
}

.menu-lateral__link {
    height: 64px;
    font-size: 14px;
    color: #41B3A3;
    padding-left: 64px;
    display: flex;
    align-items: center;
}

.menu-lateral__link--ativo {
    color: #F64C72;
    padding-left: 56px;
    border-left: 8px solid #F64C72;
}

.menu-lateral__link::before {
    content: "\e900";
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 14px;
}

.menu-lateral__link--inicio::before {
    content: "\e8b4";
}

.menu-lateral__link--videos::before {
    content: "\e50a";
}

.menu-lateral__link--picos::before {
    content: "\e0d7";
}

.menu-lateral__link--integrantes::before {
    content: "\e0f0";
}

.menu-lateral__link--camisas::before {
    content: "\e0be";
}

.mapa__cogumelo{
    height: calc(100vh - 90px);
    width: 100vw;

}

.rodape{
    background-color: #553D67;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cabecalho__logo-mobile{
    height: 100px;
    margin-top: 10px;
    margin-right: 26px;
}

@media screen and (min-width: 1440px) {
    .menu-lateral {
        position: static;
        width: 105px;
        grid-column: 1;
        grid-row: 1 / span 3;
        background: #553D67;


    }


    
    .mapa__cogumelo{
        height: calc(100vh - 69px);
        width: calc(100vw - 167px);
        margin-left: 60px;

    }

    .menu-lateral__logo {
        width: 200px;
        align-self: center;
        padding: 90px;
    }
    .rodape{
        background-color: #553D67;
        height: 27px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-right: 10rem;
    }

}

.principal {
   
    display: grid;

}

.titulo-pagina {
    font-size: 1.5rem;
    font-weight: 700;
}

.titulo-secao {
    font-size: 1.2rem;
    font-weight: 700;
}



.esconderbotao{
    display: none;
}



@media screen and (min-width: 1440px) {
    .esconderbotao {
        display:grid;
    
    
    }

    .cabecalho__buscar {
        height: 20px;
        width: 18rem;
        justify-self: end;
        border-radius: 05px;
        
    


    }

    .menu-lateral__logo {
        width: 150px;
        align-items: center;
        padding: 6px;
        margin-left: 50px;
        display: flex;
    }


    .cabecalho__logo-mobile{
    display: none;
    }


        .menu-lateral__link {
        height: 64px;
        font-size: 14px;
        padding-left: 64px;
        line-height: normal;
        width: 100px;
        
        }


        .menu-lateral__link--ativo {
            color: #F64C72;
            padding-left: 56px;
            border-left: 8px solid #F64C72;
        }




        footer{
            width: 100vw;
            display: flex;
            justify-content: flex-start;
        }
}

